.profile__subline {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 336px;
  width: 100%;
}

@media screen and (max-width: 1040px) {
  .profile__subline {
    font-size: 14px;
    line-height: 17px;
    max-width: 282px;
  }
}

@media screen and (max-width: 930px) {
  .profile__subline {
    text-align: center;
    grid-column: 1 / -1;
  }
}