.profile__description {
  display: grid;
  grid-template-columns: 1fr 24px;
  column-gap: 18px;
  row-gap: 16px;
}

@media screen and (max-width: 930px) {
  .profile__description {
    column-gap: 10px;
    row-gap: 14px;
    margin-bottom: 36px;
    grid-template-columns: 1fr 18px;
  }
}